##Add coordinates using geopy

In [3]:
import pandas as pd

In [30]:
df_ebola = pd.read_csv("csv/out/ebola-outbreaks-before-2014-country-codes.csv", encoding="utf-8", index_col=False)

df_eb = df_ebola.drop(df_ebola.columns[[0, 1]], axis=1) # remove 2 useless colums of indexes

df_eb.head()

,Start_Datetime,Start date,End_Datetime,End date,Duration (days),Year(s),Country code (ISO 2 digits),Country,Ebola subtype,Reported number of human cases,Reported number of deaths among cases,Reported % of deaths among cases
0,2012-11-01 00:00:00,2012-11-01,2013-01-31 00:00:00,2013-01-31,91,November 2012-January 2013,UG,Uganda,Sudan virus,6,3,0.500
1,2012-06-01 00:00:00,2012-06-01,2012-11-30 00:00:00,2012-11-30,182,June-November 2012,CD,Democratic Republic of the Congo,Bundibugyo virus,36,13,0.361
2,2012-06-01 00:00:00,2012-06-01,2012-10-31 00:00:00,2012-10-31,152,June-October 2012,UG,Uganda,Sudan virus,11,4,0.364
3,2011-05-01 00:00:00,2011-05-01,2011-05-01 00:00:00,2011-05-01,0,2011-05-01,UG,Uganda,Sudan virus,1,1,1.000
4,2008-12-01 00:00:00,2008-12-01,2009-02-28 00:00:00,2009-02-28,89,December 2008-February 2009,CD,Democratic Republic of the Congo,Zaire virus,32,15,0.470

### Clean countries names as it'll be easier for geocoding

In [8]:
all_countries = list(df_eb["Country"])
print all_countries

cleaned_countries_list = [u'Uganda', u'Democratic Republic of the Congo', u'Uganda', u'Uganda', 
                          u'Democratic Republic of the Congo', u'Philippines', u'Uganda', 
                          u'Democratic Republic of the Congo', u'Russia', u'Sudan (South Sudan)', 
                          u'Democratic Republic of the Congo', u'Democratic Republic of the Congo', 
                          u'Democratic Republic of the Congo', u'Gabon', u'Uganda', u'Russia', 
                          u'Philippines', u'USA', u'South Africa', u'Gabon', u'Gabon', 
                          u'Democratic Republic of the Congo', u"C\xf4te d'Ivoire (Ivory Coast)", 
                          u'Gabon', u'Italy', u'Philippines', u'USA', u'USA', u'Sudan (South Sudan)', 
                          u'Democratic Republic of the Congo', u'England', u'Sudan (South Sudan)', 
                          u'Democratic Republic of the Congo']

[u'Uganda', u'Democratic Republic of the Congo', u'Uganda', u'Uganda', u'Democratic Republic of the Congo', u'Philippines', u'Uganda', u'Democratic Republic of the Congo', u'Russia', u'Sudan (South Sudan)', u'Republic of the Congo', u'Republic of the Congo', u'Republic of the Congo', u'Gabon', u'Uganda', u'Russia', u'Philippines', u'USA', u'South Africa', u'Gabon', u'Gabon', u'Democratic Republic of the Congo (formerly Zaire)', u"C\xf4te d'Ivoire (Ivory Coast)", u'Gabon', u'Italy', u'Philippines', u'USA', u'USA', u'Sudan (South Sudan)', u'Zaire', u'England', u'Sudan (South Sudan)', u'Zaire (Democratic Republic of the Congo - DRC)']

### Remove duplicates to make it easier to find the geocodes

In [9]:
countries_list = list(set(cleaned_countries_list))

print len(countries_list)
print countries_list

11
[u"C\xf4te d'Ivoire (Ivory Coast)", u'Italy', u'USA', u'South Africa', u'Philippines', u'Democratic Republic of the Congo', u'Gabon', u'Sudan (South Sudan)', u'Uganda', u'England', u'Russia']

### Use the geocoders module in GeoPy

In [10]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()

In [14]:
locations = [geolocator.geocode(country) for country in countries_list]

In [15]:
longitudes = [l.longitude for l in locations]

print longitudes

[-5.5679458, 12.674297, -100.4458825, 24.991639, 122.7312101, 23.8222636, 11.6899699, 29.6667897, 32.2166578, -0.540240236617432, 97.7453061]

In [16]:
latitudes = [l.latitude for l in locations]

print latitudes

[7.9897371, 42.6384261, 39.7837304, -28.8166236, 12.7503486, -2.9814344, -0.8999695, 7.8699431, 1.5333554, 52.7954791, 64.6863136]

In [18]:
countries_lat = [latitudes[countries_list.index(country)] for country in cleaned_countries_list]

print countries_lat

[1.5333554, -2.9814344, 1.5333554, 1.5333554, -2.9814344, 12.7503486, 1.5333554, -2.9814344, 64.6863136, 7.8699431, -2.9814344, -2.9814344, -2.9814344, -0.8999695, 1.5333554, 64.6863136, 12.7503486, 39.7837304, -28.8166236, -0.8999695, -0.8999695, -2.9814344, 7.9897371, -0.8999695, 42.6384261, 12.7503486, 39.7837304, 39.7837304, 7.8699431, -2.9814344, 52.7954791, 7.8699431, -2.9814344]

In [19]:
countries_lon = [longitudes[countries_list.index(country)] for country in cleaned_countries_list]

print countries_lon

[32.2166578, 23.8222636, 32.2166578, 32.2166578, 23.8222636, 122.7312101, 32.2166578, 23.8222636, 97.7453061, 29.6667897, 23.8222636, 23.8222636, 23.8222636, 11.6899699, 32.2166578, 97.7453061, 122.7312101, -100.4458825, 24.991639, 11.6899699, 11.6899699, 23.8222636, -5.5679458, 11.6899699, 12.674297, 122.7312101, -100.4458825, -100.4458825, 29.6667897, 23.8222636, -0.540240236617432, 29.6667897, 23.8222636]

### Remove the column of country names

In [31]:
df_eb2 = df_eb.drop(df_ebola.columns[9], axis=1)

In [32]:
df_eb2.head()

,Start_Datetime,Start date,End_Datetime,End date,Duration (days),Year(s),Country code (ISO 2 digits),Ebola subtype,Reported number of human cases,Reported number of deaths among cases,Reported % of deaths among cases
0,2012-11-01 00:00:00,2012-11-01,2013-01-31 00:00:00,2013-01-31,91,November 2012-January 2013,UG,Sudan virus,6,3,0.500
1,2012-06-01 00:00:00,2012-06-01,2012-11-30 00:00:00,2012-11-30,182,June-November 2012,CD,Bundibugyo virus,36,13,0.361
2,2012-06-01 00:00:00,2012-06-01,2012-10-31 00:00:00,2012-10-31,152,June-October 2012,UG,Sudan virus,11,4,0.364
3,2011-05-01 00:00:00,2011-05-01,2011-05-01 00:00:00,2011-05-01,0,2011-05-01,UG,Sudan virus,1,1,1.000
4,2008-12-01 00:00:00,2008-12-01,2009-02-28 00:00:00,2009-02-28,89,December 2008-February 2009,CD,Zaire virus,32,15,0.470

### Add a column with "cleaned" country names

In [33]:
df_eb2.insert(7, "Country name", cleaned_countries_list)

In [34]:
df_eb2.head()

,Start_Datetime,Start date,End_Datetime,End date,Duration (days),Year(s),Country code (ISO 2 digits),Country name,Ebola subtype,Reported number of human cases,Reported number of deaths among cases,Reported % of deaths among cases
0,2012-11-01 00:00:00,2012-11-01,2013-01-31 00:00:00,2013-01-31,91,November 2012-January 2013,UG,Uganda,Sudan virus,6,3,0.500
1,2012-06-01 00:00:00,2012-06-01,2012-11-30 00:00:00,2012-11-30,182,June-November 2012,CD,Democratic Republic of the Congo,Bundibugyo virus,36,13,0.361
2,2012-06-01 00:00:00,2012-06-01,2012-10-31 00:00:00,2012-10-31,152,June-October 2012,UG,Uganda,Sudan virus,11,4,0.364
3,2011-05-01 00:00:00,2011-05-01,2011-05-01 00:00:00,2011-05-01,0,2011-05-01,UG,Uganda,Sudan virus,1,1,1.000
4,2008-12-01 00:00:00,2008-12-01,2009-02-28 00:00:00,2009-02-28,89,December 2008-February 2009,CD,Democratic Republic of the Congo,Zaire virus,32,15,0.470

### Add the latitudes and longitudes

In [37]:
df_eb2.insert(8, "Latitude", countries_lat)
df_eb2.insert(9, "Longitude", countries_lon)

In [38]:
df_eb2.head()

,Start_Datetime,Start date,End_Datetime,End date,Duration (days),Year(s),Country code (ISO 2 digits),Country name,Latitude,Longitude,Ebola subtype,Reported number of human cases,Reported number of deaths among cases,Reported % of deaths among cases
0,2012-11-01 00:00:00,2012-11-01,2013-01-31 00:00:00,2013-01-31,91,November 2012-January 2013,UG,Uganda,1.533355,32.216658,Sudan virus,6,3,0.500
1,2012-06-01 00:00:00,2012-06-01,2012-11-30 00:00:00,2012-11-30,182,June-November 2012,CD,Democratic Republic of the Congo,-2.981434,23.822264,Bundibugyo virus,36,13,0.361
2,2012-06-01 00:00:00,2012-06-01,2012-10-31 00:00:00,2012-10-31,152,June-October 2012,UG,Uganda,1.533355,32.216658,Sudan virus,11,4,0.364
3,2011-05-01 00:00:00,2011-05-01,2011-05-01 00:00:00,2011-05-01,0,2011-05-01,UG,Uganda,1.533355,32.216658,Sudan virus,1,1,1.000
4,2008-12-01 00:00:00,2008-12-01,2009-02-28 00:00:00,2009-02-28,89,December 2008-February 2009,CD,Democratic Republic of the Congo,-2.981434,23.822264,Zaire virus,32,15,0.470

In [40]:
df_eb2.to_csv("csv/out/ebola-outbreaks-before-2014-coordinates.csv", encoding="utf-8", index_col=False)