##Add the countries ISO codes to bypass different name spellings

__Note: I added the KML geometries in this notebook but it doesn't seem to be useful__

In [70]:
import pandas as pd

In [71]:
df_eb = pd.read_csv("csv/out/ebola-outbreaks-before-2014-dates.csv", encoding="utf-8")

df_eb.head()

,Unnamed: 0,Start_Datetime,Start date,End_Datetime,End date,Duration (days),Year(s),Country,Ebola subtype,Reported number of human cases,Reported number of deaths among cases,Reported % of deaths among cases
0,0,2012-11-01 00:00:00,2012-11-01,2013-01-31 00:00:00,2013-01-31,91,November 2012-January 2013,Uganda,Sudan virus,6,3,0.500
1,1,2012-06-01 00:00:00,2012-06-01,2012-11-30 00:00:00,2012-11-30,182,June-November 2012,Democratic Republic of the Congo,Bundibugyo virus,36,13,0.361
2,2,2012-06-01 00:00:00,2012-06-01,2012-10-31 00:00:00,2012-10-31,152,June-October 2012,Uganda,Sudan virus,11,4,0.364
3,3,2011-05-01 00:00:00,2011-05-01,2011-05-01 00:00:00,2011-05-01,0,2011-05-01,Uganda,Sudan virus,1,1,1.000
4,4,2008-12-01 00:00:00,2008-12-01,2009-02-28 00:00:00,2009-02-28,89,December 2008-February 2009,Democratic Republic of the Congo,Zaire virus,32,15,0.470

In [72]:
df_geom = pd.read_csv("csv/in/World Country Boundaries.csv")

df_geom.head()

,geometry,geometry_vertex_count,OBJECTID,ISO_2DIGIT,Shape_Leng,Shape_Area,Name,import_notes,Google requests
0,<Polygon><outerBoundaryIs><LinearRing><coordin...,5,1,AD,0.836259,0.036910,Andorra,NaN,NaN
1,<Polygon><outerBoundaryIs><LinearRing><coordin...,22,2,AE,14.616977,6.031750,United Arab Emirates,NaN,NaN
2,<Polygon><outerBoundaryIs><LinearRing><coordin...,71,3,AF,47.721785,62.492024,Afghanistan,NaN,NaN
3,<Polygon><outerBoundaryIs><LinearRing><coordin...,5,4,AG,0.596002,0.021586,Antigua & Barbuda,NaN,NaN
4,<Polygon><outerBoundaryIs><LinearRing><coordin...,5,5,AI,0.464586,0.006343,Anguilla,NaN,NaN

In [73]:
all_eb_countries = list(set(df_eb["Country"]))

print len(all_eb_countries)
print all_eb_countries

15
[u"C\xf4te d'Ivoire (Ivory Coast)", u'Italy', u'USA', u'South Africa', u'Democratic Republic of the Congo (formerly Zaire)', u'Philippines', u'Republic of the Congo', u'Democratic Republic of the Congo', u'Gabon', u'Sudan (South Sudan)', u'Uganda', u'Zaire (Democratic Republic of the Congo - DRC)', u'England', u'Zaire', u'Russia']

In [74]:
dict_countries = {}

for i in range(len(df_geom)):
    if df_geom["Name"][i] in all_eb_countries:
        dict_countries[df_geom["Name"][i]] = df_geom["geometry"][i]
        
print len(dict_countries)
print dict_countries.keys()

6
['Italy', 'South Africa', 'Philippines', 'Gabon', 'Uganda', 'Russia']

In [75]:
missing = set(all_eb_countries) - set(dict_countries.keys())
print len(missing)
print list(missing)

9
[u"C\xf4te d'Ivoire (Ivory Coast)", u'England', u'USA', u'Democratic Republic of the Congo (formerly Zaire)', u'Republic of the Congo', u'Democratic Republic of the Congo', u'Sudan (South Sudan)', u'Zaire (Democratic Republic of the Congo - DRC)', u'Zaire']

####It isn't possible to add geometries associated with each country as countries are names aren't consistent.
####=> Let's use country ISO codes instead!

In [76]:
dict_codes = {
    u"C\xf4te d'Ivoire (Ivory Coast)": 'CI', 
    u'Italy': 'IT', 
    u'USA': 'US', 
    u'South Africa': 'ZA', 
    u'Democratic Republic of the Congo (formerly Zaire)': 'CD', 
    u'Philippines': 'PH', 
    u'Republic of the Congo': 'CG', 
    u'Democratic Republic of the Congo': 'CD', 
    u'Gabon': 'GA', 
    u'Sudan (South Sudan)': 'SD', 
    u'Uganda': 'UG', 
    u'Zaire (Democratic Republic of the Congo - DRC)': 'CD', 
    u'England': 'GB', 
    u'Zaire': 'CD', 
    u'Russia': 'RU'
}

In [77]:
## df_geom["ISO_2DIGIT"][73]

In [78]:
## df_geom[df_geom["ISO_2DIGIT"] == 'US']

In [79]:
eb_country_code = []
for country in df_eb["Country"]:
    eb_country_code.append(dict_codes.get(country))

print df_eb["Country"][:3]
print eb_country_code[:3]

0                              Uganda
1    Democratic Republic of the Congo
2                              Uganda
Name: Country, dtype: object
['UG', 'CD', 'UG']

In [80]:
df_eb.insert(7, "Country code (ISO 2 digits)", eb_country_code)

In [81]:
df_eb.head()

,Unnamed: 0,Start_Datetime,Start date,End_Datetime,End date,Duration (days),Year(s),Country code (ISO 2 digits),Country,Ebola subtype,Reported number of human cases,Reported number of deaths among cases,Reported % of deaths among cases
0,0,2012-11-01 00:00:00,2012-11-01,2013-01-31 00:00:00,2013-01-31,91,November 2012-January 2013,UG,Uganda,Sudan virus,6,3,0.500
1,1,2012-06-01 00:00:00,2012-06-01,2012-11-30 00:00:00,2012-11-30,182,June-November 2012,CD,Democratic Republic of the Congo,Bundibugyo virus,36,13,0.361
2,2,2012-06-01 00:00:00,2012-06-01,2012-10-31 00:00:00,2012-10-31,152,June-October 2012,UG,Uganda,Sudan virus,11,4,0.364
3,3,2011-05-01 00:00:00,2011-05-01,2011-05-01 00:00:00,2011-05-01,0,2011-05-01,UG,Uganda,Sudan virus,1,1,1.000
4,4,2008-12-01 00:00:00,2008-12-01,2009-02-28 00:00:00,2009-02-28,89,December 2008-February 2009,CD,Democratic Republic of the Congo,Zaire virus,32,15,0.470

In [85]:
df_eb.to_csv("csv/out/ebola-outbreaks-before-2014-country-codes.csv", encoding="utf-8")

In [88]:
## df_geom[df_geom["ISO_2DIGIT"] == 'US']["geometry"]

119    <MultiGeometry><Polygon><outerBoundaryIs><Line...
Name: geometry, dtype: object

In [89]:
eb_geom = []
for c in df_eb["Country code (ISO 2 digits)"]:
    geom = df_geom[df_geom["ISO_2DIGIT"] == c]["geometry"]
    eb_geom.append(geom)

In [90]:
df_eb.insert(9, "Geometry", eb_geom)

In [91]:
df_eb.head()

,Unnamed: 0,Start_Datetime,Start date,End_Datetime,End date,Duration (days),Year(s),Country code (ISO 2 digits),Country,Geometry,Ebola subtype,Reported number of human cases,Reported number of deaths among cases,Reported % of deaths among cases
0,0,2012-11-01 00:00:00,2012-11-01,2013-01-31 00:00:00,2013-01-31,91,November 2012-January 2013,UG,Uganda,117 <Polygon><outerBoundaryIs><LinearRing><...,Sudan virus,6,3,0.500
1,1,2012-06-01 00:00:00,2012-06-01,2012-11-30 00:00:00,2012-11-30,182,June-November 2012,CD,Democratic Republic of the Congo,37 <Polygon><outerBoundaryIs><LinearRing><c...,Bundibugyo virus,36,13,0.361
2,2,2012-06-01 00:00:00,2012-06-01,2012-10-31 00:00:00,2012-10-31,152,June-October 2012,UG,Uganda,117 <Polygon><outerBoundaryIs><LinearRing><...,Sudan virus,11,4,0.364
3,3,2011-05-01 00:00:00,2011-05-01,2011-05-01 00:00:00,2011-05-01,0,2011-05-01,UG,Uganda,117 <Polygon><outerBoundaryIs><LinearRing><...,Sudan virus,1,1,1.000
4,4,2008-12-01 00:00:00,2008-12-01,2009-02-28 00:00:00,2009-02-28,89,December 2008-February 2009,CD,Democratic Republic of the Congo,37 <Polygon><outerBoundaryIs><LinearRing><c...,Zaire virus,32,15,0.470

In [92]:
df_eb.to_csv("csv/out/ebola-outbreaks-before-2014-geometry.csv", encoding="utf-8")